version: 2
jobs:
  test-ruby:
    docker:
      - image: cimg/ruby:2.7.4
    working_directory: /tmp/build
    steps:
      - checkout
      - run:
          name: Bundle install
          command: bundle install
      - run:
          name: Run test suite
          command: bundle exec rake

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test-ruby
